<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Bienvenue !</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><p th:text="'Nom : ' + ${nom}">Nom</p></li>
                <li class="list-group-item"><p th:text="'Numéro de compte : ' + ${numero}">Numero de compte</p></li>
                <li class="list-group-item"><p th:text="'Numéro de téléphone :' + ${telephone}">Telephone</p></li>
                <li class="list-group-item"><p th:text="'Service : ' + ${service}">Service</p></li>
                <li class="list-group-item"><p th:text="'Solde du compte : ' + ${solde}">Solde</p></li>
            </ul>
        </div>
        <div class="col-md-6">
            <form method="POST" action="#" th:action="@{/depot}" th:object="${guichet}">
                <div class="form-group">
                    <label th:for="montantDepot">Montant du depot</label>
                    <input type="number" class="form-control"
                           id="montantDepot" name="montantDepot"
                            min="10" max="10000" step="10"/>
                </div>
                <button type="submit" class="btn btn-primary">Depot</button>
            </form>
            <hr>
            <form method="POST" action="#" th:action="@{/retrait}" th:object="${guichet}">
                <div class="form-group">
                    <label th:for="montantRetrait">Montant du retrait</label>
                    <input type="number" class="form-control"
                           id="montantRetrait" name="montantRetrait"
                           min="10" max="10000" step="10"/>
                </div>
                <button type="submit" class="btn btn-primary">Retrait</button>
            </form>
        </div>
    </div>
    <hr>

</div>

</body>
</html>