<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center mt-2">Bienvenue !</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">

            <ul class="list-group">
                <li class="list-group-item"><p th:text="'Nom : ' + ${nom}">Nom</p></li>
                <li class="list-group-item"><p th:text="'Numéro de compte : ' + ${numero}">Numero de compte</p></li>
                <li class="list-group-item"><p th:text="'Numéro de téléphone :' + ${telephone}">Telephone</p></li>
                <li class="list-group-item"><p th:text="'Service : ' + ${service}">Service</p></li>
                <li class="list-group-item"><p th:text="'Solde du compte : ' + ${solde}">Solde</p></li>
            </ul>
        </div>
        <img th:src="@{/images/banque2.jpg}"/>
        <div class="col-md-6 container">
            <form method="POST" action="#" th:action="@{/operation}" th:object="${guichet}">
                <div class="form-group col-md-6 mx-auto text-center">
                    <label th:for="montant">Montant du depot</label>
                    <input type="number" class="form-control"
                           id="montant" name="montant"
                            min="10" max="10000" step="10" required/>
                </div>
                <div class="row col-md-6 mx-auto">
                    <button type="submit" class="btn btn-primary mx-auto"
                            name="action" th:value="depot">Depot</button>

                    <button type="submit" class="btn btn-primary mx-auto"
                            name="action" th:value="retrait">Retrait</button>
                </div>
            </form>
            <hr>
            <p class="text-center" th:text="${message}">Message</p>
        </div>
    </div>
    <hr>

</div>

</body>
</html>